/__pycache__/

/Testing/
/Testing2/

/Training/Saved Models/*
/Training/Logs/*

!/Training/Saved Models/
!/Training/Saved Models/set_n30c20x10/.gitkeep

!/Training/Logs/
!/Training/Logs/set_n30c20x10/.gitkeep


